
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

/addons/godot-git-plugin/git_api.gdnlib
/addons/godot-git-plugin/git_api.gdns
/addons/godot-git-plugin/LICENSE
/addons/godot-git-plugin/osx/release/libgitapi.dylib
/addons/godot-git-plugin/plugin.cfg
/addons/godot-git-plugin/THIRDPARTY.md
/addons/godot-git-plugin/win64/release/libgitapi.dll
/addons/godot-git-plugin/win64/release/libgitapi.exp
/addons/godot-git-plugin/win64/release/libgitapi.lib
/addons/godot-git-plugin/x11/release/libgitapi.so
*.glb
*.blend
*.dae
*.obj
*.mp3
/export/explosional.exe
/export/explosional.pck
/export/explosional.exe
/export/explosional.pck
/assets/display/icons/~$icons.pptx
/explosional_v0.127.0_alpha.exe
/explosional_v0.127.0_alpha.pck
/explosional_v0.130.0_alpha.exe
/explosional_v0.130.0_alpha.pck
/explosional.exe
/explosional.pck
/.gdignore/40sec single player demo - 480p.mp4
/.gdignore/5min two player demo - 480p.mp4
/.gdignore/screenshots/Screenshot (10).png
/.gdignore/screenshots/Screenshot (100).png
/.gdignore/screenshots/Screenshot (11).png
/.gdignore/screenshots/Screenshot (12).png
/.gdignore/screenshots/Screenshot (13).png
/.gdignore/screenshots/Screenshot (14).png
/.gdignore/screenshots/Screenshot (15).png
/.gdignore/screenshots/Screenshot (16).png
/.gdignore/screenshots/Screenshot (17).png
/.gdignore/screenshots/Screenshot (18).png
/.gdignore/screenshots/Screenshot (19).png
/.gdignore/screenshots/Screenshot (20).png
/.gdignore/screenshots/Screenshot (21).png
/.gdignore/screenshots/Screenshot (22).png
/.gdignore/screenshots/Screenshot (23).png
/.gdignore/screenshots/Screenshot (24).png
/.gdignore/screenshots/Screenshot (25).png
/.gdignore/screenshots/Screenshot (26).png
/.gdignore/screenshots/Screenshot (27).png
/.gdignore/screenshots/Screenshot (28).png
/.gdignore/screenshots/Screenshot (29).png
/.gdignore/screenshots/Screenshot (3).png
/.gdignore/screenshots/Screenshot (30).png
/.gdignore/screenshots/Screenshot (31).png
/.gdignore/screenshots/Screenshot (32).png
/.gdignore/screenshots/Screenshot (33).png
/.gdignore/screenshots/Screenshot (34).png
/.gdignore/screenshots/Screenshot (35).png
/.gdignore/screenshots/Screenshot (36).png
/.gdignore/screenshots/Screenshot (37).png
/.gdignore/screenshots/Screenshot (38).png
/.gdignore/screenshots/Screenshot (39).png
/.gdignore/screenshots/Screenshot (40).png
/.gdignore/screenshots/Screenshot (41).png
/.gdignore/screenshots/Screenshot (42).png
/.gdignore/screenshots/Screenshot (43).png
/.gdignore/screenshots/Screenshot (44).png
/.gdignore/screenshots/Screenshot (45).png
/.gdignore/screenshots/Screenshot (46).png
/.gdignore/screenshots/Screenshot (47).png
/.gdignore/screenshots/Screenshot (48).png
/.gdignore/screenshots/Screenshot (49).png
/.gdignore/screenshots/Screenshot (5).png
/.gdignore/screenshots/Screenshot (50).png
/.gdignore/screenshots/Screenshot (51).png
/.gdignore/screenshots/Screenshot (52).png
/.gdignore/screenshots/Screenshot (53).png
/.gdignore/screenshots/Screenshot (54).png
/.gdignore/screenshots/Screenshot (55).png
/.gdignore/screenshots/Screenshot (56).png
/.gdignore/screenshots/Screenshot (57).png
/.gdignore/screenshots/Screenshot (58).png
/.gdignore/screenshots/Screenshot (59).png
/.gdignore/screenshots/Screenshot (6).png
/.gdignore/screenshots/Screenshot (60).png
/.gdignore/screenshots/Screenshot (61).png
/.gdignore/screenshots/Screenshot (62).png
/.gdignore/screenshots/Screenshot (63).png
/.gdignore/screenshots/Screenshot (64).png
/.gdignore/screenshots/Screenshot (65).png
/.gdignore/screenshots/Screenshot (66).png
/.gdignore/screenshots/Screenshot (67).png
/.gdignore/screenshots/Screenshot (68).png
/.gdignore/screenshots/Screenshot (69).png
/.gdignore/screenshots/Screenshot (7).png
/.gdignore/screenshots/Screenshot (70).png
/.gdignore/screenshots/Screenshot (71).png
/.gdignore/screenshots/Screenshot (72).png
/.gdignore/screenshots/Screenshot (73).png
/.gdignore/screenshots/Screenshot (74).png
/.gdignore/screenshots/Screenshot (75).png
/.gdignore/screenshots/Screenshot (76).png
/.gdignore/screenshots/Screenshot (77).png
/.gdignore/screenshots/Screenshot (78).png
/.gdignore/screenshots/Screenshot (79).png
/.gdignore/screenshots/Screenshot (8).png
/.gdignore/screenshots/Screenshot (80).png
/.gdignore/screenshots/Screenshot (81).png
/.gdignore/screenshots/Screenshot (82).png
/.gdignore/screenshots/Screenshot (83).png
/.gdignore/screenshots/Screenshot (84).png
/.gdignore/screenshots/Screenshot (85).png
/.gdignore/screenshots/Screenshot (86).png
/.gdignore/screenshots/Screenshot (87).png
/.gdignore/screenshots/Screenshot (88).png
/.gdignore/screenshots/Screenshot (89).png
/.gdignore/screenshots/Screenshot (9).png
/.gdignore/screenshots/Screenshot (90).png
/.gdignore/screenshots/Screenshot (91).png
/.gdignore/screenshots/Screenshot (92).png
/.gdignore/screenshots/Screenshot (93).png
/.gdignore/screenshots/Screenshot (94).png
/.gdignore/screenshots/Screenshot (95).png
/.gdignore/screenshots/Screenshot (96).png
/.gdignore/screenshots/Screenshot (97).png
/.gdignore/screenshots/Screenshot (98).png
/.gdignore/screenshots/Screenshot (99).png
/.gdignore/screenshots/Screenshot 2024-02-03 163322.png
/.gdignore/screenshots/Screenshot 2024-02-03 163443.png
/.gdignore/screenshots/Screenshot 2024-02-03 163515.png
/.gdignore/screenshots/Screenshot 2024-02-03 163610.png
/.gdignore/screenshots/Screenshot 2024-02-03 164838.png
/.gdignore/screenshots/Screenshot 2024-02-03 164916.png
/.gdignore/screenshots/Screenshot 2024-02-03 164933.png
/.gdignore/screenshots/Screenshot 2024-02-03 164951.png
/.gdignore/screenshots/Screenshot 2024-02-03 165007.png
/.gdignore/screenshots/Screenshot 2024-02-03 165247.png
/.gdignore/screenshots/Untitled.png
